[Desktop Entry]
Encoding=UTF-8
Name=LXTerminal
Name[af]=LXTerminal
Name[ar]=LXTerminal
Name[be]=LXTerminal
Name[bg]=LXTerminal
Name[bn]=LXটার্মিনাল
Name[bn_IN]=LXTerminal
Name[ca]=LXTerminal
Name[cs]=LXTerminal
Name[da]=LXTerminal
Name[de]=LXTerminal
Name[el]=LXTerminal
Name[en_GB]=LXTerminal
Name[es]=LXTerminal
Name[es_VE]=LXTerminal
Name[et]=LXTerminal
Name[eu]=LXTerminal
Name[fa]=پایانه ی LX
Name[fi]=LXTerminal
Name[fo]=LXTerminal
Name[fr]=LXTerminal
Name[frp]=LXTerminal
Name[gl]=LXTerminal
Name[he]=תוכנית הדמיית המסוף LXTerminal
Name[hr]=LXTerminal
Name[hu]=LXTerminal
Name[id]=LXTerminal
Name[it]=LXTerminal
Name[ja]=LXTerminal
Name[lg]=LXTerminal
Name[lt]=LXTerminal
Name[ms]=LXTerminal
Name[nb]=LXTerminal
Name[nl]=LXTerminal
Name[nn]=LXTerminal
Name[pl]=LXTerminal
Name[pt]=LXTerminal
Name[pt_BR]=LXTerminal
Name[ro]=LXTerminal
Name[ru]=LXTerminal
Name[sk]=LXTerminal
Name[sl]=LXTerminal
Name[sr]=LXTerminal
Name[sr@latin]=LXTerminal
Name[sv]=LXTerminal
Name[te]=LXటెర్మినల్
Name[tr]=LXTerminal
Name[tt_RU]=LXTerminal
Name[uk]=LX-термінал
Name[ur]=ایل ایکس ٹرمنل
Name[ur_PK]=ایل ایکس ٹرمنل
Name[vi]=LXTerminal
Name[zh_CN]=LX 终端
Name[zh_TW]=LX 終端機
GenericName=Terminal
GenericName[af]=Terminaal
GenericName[ar]=شاشة طرفية
GenericName[be]=Тэрмінал
GenericName[bg]=Терминал
GenericName[bn]=টার্মিনাল
GenericName[ca]=Terminal
GenericName[cs]=Terminál
GenericName[da]=Terminal
GenericName[de]=Terminal
GenericName[el]=Τερματικό
GenericName[en_GB]=Terminal
GenericName[es]=Terminal
GenericName[es_VE]=Terminal
GenericName[et]=Terminal
GenericName[eu]=Terminala
GenericName[fa]=پایانه
GenericName[fi]=Pääte
GenericName[fo]=Útstøð
GenericName[fr]=Terminal
GenericName[gl]=Terminal
GenericName[he]=מסוף
GenericName[hr]=Terminal
GenericName[hu]=Terminál
GenericName[id]=Terminal
GenericName[it]=Terminale
GenericName[ja]=端末
GenericName[ko]=터미널
GenericName[lg]=Kiwandikiro
GenericName[lt]=Terminalas
GenericName[ml]=ടെ‍ര്മിനല്
GenericName[ms]=Terminal
GenericName[nb]=Terminal
GenericName[nl]=Terminalvenster
GenericName[nn]=Terminal
GenericName[pl]=Terminal
GenericName[pt]=Terminal
GenericName[pt_BR]=Terminal
GenericName[ro]=Terminal
GenericName[ru]=Терминал
GenericName[sk]=Terminál
GenericName[sl]=Terminal
GenericName[sr]=Терминал
GenericName[sr@latin]=Terminal
GenericName[sv]=Terminal
GenericName[te]=టెర్మినల్
GenericName[tr]=Uçbirim
GenericName[tt_RU]=Терминал
GenericName[uk]=Термінал
GenericName[vi]=Cửa sổ lệnh
GenericName[zh_CN]=终端
GenericName[zh_TW]=終端機
Comment=Use the command line
Comment[af]=Gebruik die opdraglyn
Comment[ar]=استخدِم سطر الأوامر
Comment[be]=Выкарыстоўваць загадны радок
Comment[bg]=Използване на команден ред
Comment[bn]=কমান্ড লাইন ব্যবহার করা হবে
Comment[ca]=Utilitza la línia d'ordres
Comment[cs]=Používat příkazový řádek
Comment[da]=Brug kommandolinjen
Comment[de]=Befehlszeile verwenden
Comment[el]=Χρήση γραμμής εντολών
Comment[en_GB]=Use the command line
Comment[es]=Usar la línea de comandos
Comment[es_VE]=Usar la línea de comandos
Comment[et]=Käsurea kasutamine
Comment[eu]=Erabili komando-lerroa
Comment[fa]=استفاده از خط فرمان
Comment[fi]=Käytä komentoriviä
Comment[fo]=Nýt stýriboðslinjuna
Comment[fr]=Utiliser la ligne de commande
Comment[gl]=Usar a liña de ordes
Comment[he]=שימוש בשורת הפקודה
Comment[hr]=Koristi naredbeni redak
Comment[hu]=Parancssor használata
Comment[id]=Gunakan perintah baris
Comment[it]=Usa la riga di comando
Comment[ja]=コマンド・ライン端末です
Comment[ko]=명령 행을 사용합니다
Comment[lg]=Kolera mu kiwandikiro
Comment[lt]=Naudoti komandų eilutę
Comment[nb]=Bruk kommandolinjen
Comment[nl]=Gebruik de opdrachtregel
Comment[nn]=Bruk kommandolinja
Comment[pl]=Emulator terminala
Comment[pt]=Utilizar a linha de comando
Comment[pt_BR]=Use a linha de comando
Comment[ro]=Folosește linia de comandă
Comment[ru]=Использовать командную строку
Comment[sk]=Použiť príkazový riadok
Comment[sl]=Uporabi ukazno vrstico
Comment[sr]=Користите линију наредби
Comment[sr@latin]=Koristite liniju naredbi
Comment[sv]=Använd kommandoraden
Comment[te]=కమాండు లైనును వాడు
Comment[tr]=Komut satırını kullan
Comment[tt_RU]=Команда юлын куллану
Comment[uk]=Використати командну стрічку
Comment[vi]=Dùng dòng lệnh
Comment[zh_CN]=使用命令行
Comment[zh_TW]=使用命令列
TryExec=lxterminal
Exec=lxterminal
Icon=lxterminal
Type=Application
Categories=GTK;Utility;TerminalEmulator;
